html
  head
    title Przykładowa strona do logowania
    link(
      rel="stylesheet" 
      href="index.css"
    )
  body
    h3 This is example page which will redirect you to Google login page
    .button-wrapper
      a(href='/auth/google') Let's go